body {
	background: #eeeeee;
	font-size: 8pt;
}

h1 {
	color: red;
	font-size: 20pt;
	text-decoration: underline;
}

h2 {
	font-size: 12pt;
}

h3 {
	font-size: 10pt;
}

a {
	text-decoration: none;
	color: inherit;
}

